/* 
font-family: "Roboto",serif;
font-family: "Raleway",serif; 
*/

/* .container {
    max-width:
    padding-left:
    padding-right:
    margin-left:
    margin-right:
} 
*/


body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* reset */

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

/* common */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-list, .header-address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header {
    background: #fff;
}

.header-logo .header-logo-part {
    color: #2e2f42;
}

.footer {
    background: #2e2f42;
}

.footer-logo .footer-logo-part {
    color: #f4f4fd;
    margin-bottom: 16px;
}

.header-nav-list-item-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus,
.header-address-list-item-link:hover,
.header-address-list-item-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
    margin-left: auto;
}

.header-address-list-item-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-container {
    display: block;
    padding: 100px 0;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.main-section-one {
    background-color:#2e2f42;
    padding: 188px 0;
}

.main-container-section-one {
    display: block;
}

.main-section-one-h_one {
    max-width: 496px;
    margin: auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.main-section-one-button {
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.main-section-one-button:hover,
.main-section-one-button:focus {
    background-color: #404BBF
}

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

.main-container-section-two {
    padding: 120px 0;
}

.main-section-two-h_two {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-section-two-list {
    display: flex;
    gap: 24px;
}

.main-section-two-list-item {
    width: calc((100% - 72px) / 4);
}

.main-section-two-list-item-h_three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.main-section-two-list-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.main-section-three {
    background-color: #F4F4FD;
}

.main-section-three-h_two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize
}

.main-section-three-list-item {
    background-color: #FFFFFF;
}

.main-section-three-list-item-h_three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.main-section-three-list-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.main-section-four-h_two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize
}

.main-section-four-list-item-h_three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.main-section-four-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}